<div class="flex justify-center items-center flex-col corpo">
    <h1 class="font-bold text-white">Solutions <mat-icon>edit</mat-icon> Maticulously</h1>
    <h1 class="font-bold text-white">Designed For<strong class="bg-yellow-200 rounded-full text-black p-1 h-10 inline-flex">Effortless</strong></h1>
    <h1 class="font-bold text-white"><img src="assets/img/img1.webp" class="img rounded-full">Productivity.</h1>
</div>
<div class="sm:w-full flex items-center justify-center flex-col">
    <p class="text-wrap font-sans text-center sm:w-10/12 text-white">Lorem ipsum dolor sit amet, 
        consectetur adipisicing elit. 
        Iure minus ipsam doloribus quia 
        ex autem earum asperiores sapiente 
        dolor, nihil ea odit quisquam voluptas 
        minima eligendi, blanditiis necessitatibus 
        fugiat ipsum.
    </p>

    <button mat-fab extended class="corpo-button">EXPLORE OUR SERVICES</button>
</div>
